<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Sadio DIALLO - Coach de vie | Développement personnel</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="coach de vie, développement personnel, conseiller matrimonial, médiateur" name="keywords">
        <meta content="Coach de vie spécialisé dans le développement personnel et professionnel" name="description">
    
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,300,700|EB+Garamond" rel="stylesheet">
        <!-- Bootstrap CSS File -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Libraries CSS Files -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Main Stylesheet File -->
        <link href="{{ asset('assets/vendor/css/coaching_style.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/css/testimonial_style.css') }}" rel="stylesheet">
    </head>
    
    <body>
        <!-- ========== HEADER SECTION ========== -->
    
        <header id="headerwrap">
            <div class="container">
                <br>
                <div class="row">
                    <h1>COACHING DE VIE</h1>
                    <br>
                    <h3>
                        Oser entreprendre. L’audace a du génie, du pouvoir, de la magie.
                    </h3>
                    <br>
                    <p>
                        <a class="btn btn-warning" id="contactButton" title="Accéder au formulaire de contact" href="{{path('core_homepage')}}">
                            PRENDRE RENDEZ-VOUS <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                    </p>
                    <br>
                    <br>
                    <div class="col-lg-6 col-lg-offset-3">
                    </div>
                </div>
            </div>
            <!-- /container -->
        </header>
        <!-- /headerwrap -->
    
        <!-- ============================================== INTRODUCTION ============================================== -->
        <section id="f">
            <div class="container">
                <!-- DEFINITION DU COACHING -->
                <div class="row">
                    <h2>Qu'est-ce que <b>LE COACHING ?</b></h2>
                    
                    <div class="col-lg-6 col-lg-offset-3 textBlock">
                        <p>
                            Le coaching est une relation d’aide sur une période définie. Il permet l’accompagnement de 
                            personnes à travers une dynamique de changement évolutif. Essentiellement basée sur votre situation
                            présente, la démarche est orientée vers la réalisation de ce que vous <span>désirez</span>.
                        </p>
                        <p>
                            Le coaching de vie a pour principal objectif de vous aider à sortir de votre situation 
                            actuelle, pour atteindre votre <span>idéal</span>, retrouver votre <span>bien être</span>.
                        </p>
                    </div>
                </div>
                <!-- A QUI S'ADDRESSE LE COACHING -->
                <div class="row rowBlock">
                    <h2>A QUI S'ADRESSE <b> LE COACHING ?</b></h2>
                
                    <div class="col-lg-6 col-lg-offset-3 textBlock">
                        <p>
                            Mes consultations s’adressent aux personnes rencontrant des difficultés sur le plan 
                            <span>personnel</span>.
                        </p>
                        <p style="font-style: italic;">
                            Vous vous sentez perdu ? <br/>
                            Vous avez l’impression d’être l’ombre de celui ou celle que vous étiez ? <br/>
                            Vous doutez du chemin à prendre, du sens à donner à votre vie ? <br/>
                            Vous rencontrez des difficultés dans votre couple ? <br/>
                            Vous ressentez une insatisfaction par rapport à votre vie actuelle ? <br/>
                            Vous avez du mal à avoir confiance en vous ? 
                        </p>
                        <p>
                            C’est avec plaisir que je vous accompagnerai dans une démarche personnalisée et tournée vers 
                            <span>le futur</span>.
                        </p>
                    </div>
                </div>
                <!-- ROLE DU COACH -->
                <div class="row rowBlock">
                    <h2>Mon rôle en tant <b> QUE COACH ?</b></h2>
                
                    <div class="col-lg-6 col-lg-offset-3 textBlock">
                        <p>
                            A travers des outils basés sur le questionnement et la remise en question de soi, mon rôle est 
                            de vous aider à clarifier vos objectifs, à identifier et lever les freins à l’atteinte de ceux-ci.
                        </p>
                        <p>
                            Mon rôle sera donc de vous aider à atteindre des résultats concrets et mesurables par des 
                            indicateurs définis par vous-même.
                        </p>
                        <p>
                            D’autre part, parce que la relation de coaching est limitée dans le temps, mon objectif sera 
                            également de vous aider à être <span>autonome</span> en vous transmettant des techniques vous 
                            permettant de diagnostiquer et dépasser <span>par vous-même</span> les difficultés que vous 
                            rencontrerez plus tard.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- ================================================ TESTIMONIAL ============================================ -->
        <div class="container" id="testimonialBlock">
            <div class="row">
                <div class="col-sm-12">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <h2>Quelques <b>témoignages</b></h2>
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                        </ol>
                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                            <div class="item carousel-item active">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="testimonial">
                                            <p>
                                                <i class="fa fa-quote-right fa-2x" aria-hidden="true"></i> Merci Sadio, tu as su voir en moi
                                                des qualités dont j’ignorais l’existence. Grâce à toi, mon regard sur ma personne a changé,
                                                je me sens plus en confiance, le chemin à parcourir est certes long, mais aujourd’hui j’ai
                                                la conviction que je peux y arriver. Merci infiniment !
                                            </p>
                                        </div>
                                        <div class="media">
                                            <div class="media-left d-flex mr-3">
                                                <img src="{{ asset('assets/images/idi.jpg') }}" alt="customer's picture">
                                            </div>
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Idi Soumaré</b></div>
                                                    <div class="details">Media Analyst / SkyNet</div>
                                                    <div class="star-rating">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="testimonial">
                                            <p>
                                                <i class="fa fa-quote-right fa-2x" aria-hidden="true"></i> Tu m’as aidée à comprendre. Avant de te rencontrer
                                                j’étais convaincue que le problème venait de mon mari. Avec toi j’ai compris que mes crises de jalousie
                                                cachaient autre chose. Aujourd’hui j'ai repris ma vie en main et ma vie de couple est plus épanouie.
                                            </p>
                                        </div>
                                        <div class="media">
                                            <div class="media-left d-flex mr-3">
                                                <img src="{{ asset('assets/images/pauline.jpg') }}" alt="customer's picture">
                                            </div>
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Pauline Mara</b></div>
                                                    <div class="details">Web Developer / SoftBee</div>
                                                    <div class="star-rating">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item carousel-item">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="testimonial">
                                            <p>
                                                <i class="fa fa-quote-right fa-2x" aria-hidden="true"></i> Après avoir vécu 5 ans de chômage, je n'y croyais 
                                                plus. Avec bienveillance tu m’a poussé à me remettre en question, à analyser ma situation sous un angle nouveau.
                                                Grâce à ton accompagnement j’ai redéfini mes priorités. J’ai réalisé que ce qui m’importait le plus c'était 
                                                l’entrepreneuriat. Grâce à toi, j’ai trouvé le courage qui me manquait et je me suis jeté à l’eau. Aujourd’hui, 
                                                deux ans après notre dernière séance de coaching, j’ai lancé ma société de transport et je ressens un sentiment 
                                                d’accomplissement et de fierté. Du fond du cœur, je te dis MERCI.
                                            </p>
                                        </div>
                                        <div class="media">
                                            <div class="media-left d-flex mr-3">
                                                <img src="{{ asset('assets/images/fares.jpg') }}" alt="customer's picture">
                                            </div>
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Fares ETTABA</b></div>
                                                    <div class="details">Paris / France</div>
                                                    <div class="star-rating">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="testimonial">
                                            <p>
                                                <i class="fa fa-quote-right fa-2x" aria-hidden="true"></i> Un excellent coach qui sait installer un climat de confiance, 
                                                l’ambiance est décontractée. Avec lui, on a l’impression de parler à un ami. Il est très à l’écoute et nous amène à 
                                                proposer nos propres solutions à nos problèmes. Je l’ai rencontré suite au décès de mon mari; je n'avais plus goût à rien,
                                                j'avais arrêté de travailler, je m'étais isolée de ma famille. Il m'a aidée à lacher prise et à faire mon deuil. J'espère
                                                que mon témoignage permettra de redonner espoir à toute personne qui souffre intérieurement en étant convaincue 
                                                qu'il n'y a pas de solution.
                                            </p>
                                        </div>
                                        <div class="media">
                                            <div class="media-left d-flex mr-3">
                                                <img src="{{ asset('assets/images/julien.jpg') }}" alt="customer's picture">
                                            </div>
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Julie Masson</b></div>
                                                    <div class="details">Saint-Etienne / France</div>
                                                    <div class="star-rating">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Carousel controls -->
                        <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ==================================================================================================================== BOOTSTRAP & JQUERY CDN ====================================== -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>