<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Coach de vie | Développement personnel</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="coach de vie, développement personnel, conseiller matrimonial, médiateur" name="keywords">
        <meta content="Coach de vie spécialisé dans le développement personnel et professionnel" name="description">
    
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,300,700|EB+Garamond" rel="stylesheet">
        <!-- Bootstrap CSS File -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Libraries CSS Files -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Main Stylesheet File -->
        <link href="{{ asset('assets/vendor/css/coaching_style.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/css/testimonial_style.css') }}" rel="stylesheet">
    </head>
    
    <body>
        <!-- ========== HEADER SECTION ========== -->
    
        <header id="headerwrap">
            <div class="container">
                <br>
                <div class="row">
                    <h1>MINIMAL TEMPLATE</h1>
                    <br>
                    <h3>Hello, I'm Carlos. I love design.</h3>
                    <br>
                    <p>
                        <button type="button" class="btn btn-warning" id="contactButton"
                            title="Accéder au formulaire de contact">I HAVE A FREELANCE JOB</button>
                    </p>
                    <br>
                    <br>
                    <div class="col-lg-6 col-lg-offset-3">
                    </div>
                </div>
            </div>
            <!-- /container -->
        </header>
        <!-- /headerwrap -->
    
        <!-- ========== ABOUT SECTION ========== -->
        <section id="f">
            <div class="container">
                <div class="row">
                    <h2>ABOUT <b>ME</b></h2>
                    <p class="centered">
                        <i class="icon icon-circle"></i>
                        <i class="icon icon-circle"></i>
                        <i class="icon icon-circle"></i>
                    </p>
    
                    <!-- INTRO INFORMATIO-->
                    <div class="col-lg-6 col-lg-offset-3">
                        <p>
                            Le coaching est une relation d’aide sur une période définie. Il permet l’accompagnement de 
                            personnes à travers une dynamique de changement évolutif. Essentiellement basée sur votre situation
                            présente, la démarche est orientée vers la réalisation de ce que vous <span>désirez</span>.
                        </p>
                        <p>
                            Le coaching de vie a pour principal objectif de vous aider à sortir de votre situation 
                            actuelle, pour atteindre votre <span>idéal</span>, retrouver votre <span>bien être</span>.
                        </p>
                        <p>Sometimes I blog about design and web trends. Also I share links and my thoughts on <a
                                href="http://twitter.com/templatemag">Twitter</a>. Need a free handsome bootstrap theme? <a
                                href="http://templatemag.com">Done!</a></p>
                        <p>I'm available for freelance jobs. Contact me now.</p>
                        <p><button type="button" class="btn btn-warning">I HAVE A FREELANCE JOB</button></p>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- ============ TESTIMONIAL =========== -->
        <div class="container" id="testimonialBlock">
            <div class="row">
                <div class="col-sm-12">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <h2>Quelques <b>témoignages</b></h2>
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                        </ol>
                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                            <div class="item carousel-item active">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="testimonial">
                                            <p><i class="fa fa-quote-right fa-2x" aria-hidden="true"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor,
                                                varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper
                                                malesuada ante.</p>
                                        </div>
                                        <div class="media">
                                            <div class="media-left d-flex mr-3">
                                                <img src="{{ asset('assets/images/about_1.png') }}" alt="customer's picture">
                                            </div>
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Paula Wilson</b></div>
                                                    <div class="details">Media Analyst / SkyNet</div>
                                                    <div class="star-rating">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="testimonial">
                                            <p><i class="fa fa-quote-right fa-2x" aria-hidden="true"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor,
                                                varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper
                                                malesuada ante.</p>
                                        </div>
                                        <div class="media">
                                            <div class="media-left d-flex mr-3">
                                                <img src="{{ asset('assets/images/about_2_bis.png') }}" alt="customer's picture">
                                            </div>
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Antonio Moreno</b></div>
                                                    <div class="details">Web Developer / SoftBee</div>
                                                    <div class="star-rating">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item carousel-item">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="testimonial">
                                            <p><i class="fa fa-quote-right fa-2x" aria-hidden="true"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor,
                                                varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper
                                                malesuada ante.</p>
                                        </div>
                                        <div class="media">
                                            <div class="media-left d-flex mr-3">
                                                <img src="{{ asset('assets/images/about_1.png') }}" alt="customer's picture">
                                            </div>
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Martin Sommer</b></div>
                                                    <div class="details">SEO Analyst / RealSearch</div>
                                                    <div class="star-rating">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="testimonial">
                                            <p><i class="fa fa-quote-right fa-2x" aria-hidden="true"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor,
                                                varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper
                                                malesuada ante.</p>
                                        </div>
                                        <div class="media">
                                            <div class="media-left d-flex mr-3">
                                                <img src="{{ asset('assets/images/about_2_bis.png') }}" alt="customer's picture">
                                            </div>
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>John Williams</b></div>
                                                    <div class="details">Web Designer / UniqueDesign</div>
                                                    <div class="star-rating">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Carousel controls -->
                        <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ============================= BOOTSTRAP & JQUERY CDN ====================================== -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>