{% extends "@SadioAuth/layout.html.twig" %}
    {% block admin_body %}
        <section>
            <div class="row" id="messagesBox">
                <div class="col-xs-2 col-sm-3">
                    <h2 class="inboxTitle">To</h2>
                </div>
                <div class="col-xs-4 col-sm-5">
                    <h2 class="inboxTitle">Subject</h2>
                </div>
                <div class="col-xs-3 col-sm-2 text-center">
                    <h2 class="inboxTitle">Status</h2>
                </div>
                <div class="col-xs-1 col-sm-2 text-center">
                    <h2 class="inboxTitle">Date</h2>
                </div>
            </div>
            {% for message in messages %}
            <div class="row">
                <div class="col-xs-2 col-sm-3">
                    <p>{{ message.receiverName }}</p>
                </div>
                <div class="col-xs-4 col-sm-5">
                    <a href="{{ path('sadio_auth_security_view', {'id': message.id}) }}" class="viewLink">
                        {{ message.subject }}
                    </a>
                </div>
                <div class="col-xs-3 col-sm-2 text-center">
                    <p>{{ message.status }}</p>
                </div>
                <div class="col-xs-1 col-sm-2 text-center">
                    <p>{{ message.creationDate|date("d/m") }}</p>
                </div>
            </div>
            {% endfor %}
        </section>
    {% endblock admin_body %}