<section class="prt_contact_wrapper prt_toppadder115">
    <aside class="prt_close_wrapper">
        <img src="{{ asset('assets/images/right_arrow.png')}}" alt="Close" class="prt_close">
    </aside>
    <div class="container">
        <article class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="prt_heading_wrapper">
                    <div class="prt_heading">
                        <h1>{{ 'form.title'|trans({}, 'contact') }}</h1>
                        <p>{{ 'form.subtitle'|trans({}, 'contact') }}</p>
                    </div>
                </div>
            </div>
            <div class="prt_contact_box">
                {#-------------------------------- Form ----------------------------------------#}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="prt_contact_info">
                        <h1>{{ 'form.main_label'|trans({}, 'contact') }}</h1>
                        <div class="prt_contact_form">
                            <div class="row">
                                {% include "@Core/Default/form.html.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
                {#-------------------------------- Google Maps ----------------------------------------#}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="prt_contact_map">
                        <iframe src="https://maps.google.com/maps?q=camayenne&t=&z=13&ie=UTF8&iwloc=&output=embed" allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
            {#-------------------------------- Coordonnées ----------------------------------------#}
            <div class="prt_contact_details" itemscope itemtype="http://schema.org/Person">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="prt_contact_details_box details_box1" itemprop="telephone">
                        <h4>{{ 'contact.phone.label'|trans({}, 'contact') }}</h4>
                        <p>{{ admin_phone }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="prt_contact_details_box details_box2" itemprop="email">
                        <h4>{{ 'contact.email.label'|trans({}, 'contact') }}</h4>
                        <p>{{ mailer_user }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="prt_contact_details_box details_box3" itemprop="address">
                        <h4>{{ 'contact.address.label'|trans({}, 'contact') }}</h4>
                        <p>{{ admin_address }}</p>
                    </div>
                </div>
            </div>
        </article>
    </div>
    {# ----- Footer ----- #}
    {% include "@Core/Default/footer.html.twig" %}
</section>