{% extends "base.html.twig" %}
    {# Title Tag ------------------------------------------------------------------------------------------------- #}
    {% block title %}
        {% if app.request.locale == 'en' %}
            Sadio DIALLO - Full Stack Web Developer, SEO & Web Marketing Specialist
        {% else %}
            Sadio DIALLO - Consultant Développement Web, Design Graphique, Référencement SEO, Marketing
        {% endif %}
    {% endblock title %}
    {# ---------------------------------------------------------------------------------------------------------------------------- #}
    {# Meta Description ------------------------------------------------------------------------------------------------- #}
    {% block description %}
        {% if app.request.locale == 'en' %}
            Front-End & Back-End Web Developer/ Cross Platform Mobile App Developer/ SEO & Web Marketing Specialist/ 
            Graphic Designer. Come check out my Portfolio
        {% else %}
            Développeur, Designer spécialisé dans la création de sites web et applications mobiles, le design 
            graphique, le référencement web et le Marketing. Venez découvrir mon Portfolio
        {% endif %}
    {% endblock description %}
    {# ---------------------------------------------------------------------------------------------------------------------------- #}
    {# Meta Keywords ------------------------------------------------------------------------------------------------- #}
    {% block keywords %}
        {% if app.request.locale == 'en' %}
            designer, web developer, programmer, full stack, webmaster, web marketing, freelance, template, front-end, 
            back-end, SEO, job, web, Marketing, website, portfolio
        {% else %}
            full stack, programmeur, designer, portfolio, cv, développeur, codeur, référencement web, emploi, recrutement, consultant, 
            SEO, web marketing, front-end, back-end, freelance, cadre, site web, développement, design graphique, intégrateur, création de site w
        {% endif %}
    {% endblock keywords %}
    {# ---------------------------------------------------------------------------------------------------------------------------- #} 
    {# Page Body ------------------------------------------------------------------------------------------------- #}
    {% block body %}
        {# Menu + Contenu des pages  #}
        <div class="prt_main_wrapper">            
            {# La classe prt_home_wrapper ci-dessous contient le background image blanc dans le fichier style.css #}
            <header class="prt_home_wrapper">
                {# Choix de la langue #}
                <div id="languageBox">
                    {% if app.request.locale == 'fr' %}
                        <a href="http://localhost/projects/portfolio/web/app_dev.php/en/"><span class="flag-icon flag-icon-us"></span> ENG</a>
                    {% else %}
                        <a href="http://localhost/projects/portfolio/web/app_dev.php/fr/"><span class="flag-icon flag-icon-fr"></span> FR</a>
                    {% endif %}
                </div>
                
                {#---------------------------- Spining Logo --------------------------------------------#}
                <div class="prt_logo_wrapper">
                    <a><img src="{{ asset('assets/images/logo.png')}}" alt="Logo" id="prt_close_tab"></a>
                </div>
                
                {#---------------------------- Menu ---------------------------------------------------#}
                <div class="prt_menu_wrapper">
                    <nav>
                        <a href="#about" class="prt_top">
                            {{ 'nav.about'|trans({}, 'messages') }}
                        </a>
                        <a href="#contact" class="prt_right" id="contactLink">
                            {{ 'nav.contact'|trans({}, 'messages') }}
                        </a>
                        <a href="#services" class="prt_bottom">
                            {{ 'nav.strength'|trans({}, 'messages') }}
                        </a>
                        <a href="#portfolio" class="prt_left">
                            {{ 'nav.portfolio'|trans({}, 'messages') }}
                        </a>
                    </nav>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-7 col-sm-10 col-xs-12 col-lg-offset-6 col-md-offset-5 col-sm-offset-2 col-xs-offset-0">
                            <h1>I`m Sadio</h1>
                        </div>
                    </div>
                </div>
            </header>
            {#-------------------------------- About Wrapper Start ----------------------------------------#}
            {% include "@Core/Default/about.html.twig" %}
            {#-------------------------------- Contact Wrapper Start --------------------------------------#}
            {% include "@Core/Default/contact.html.twig" %}
            {#-------------------------------- Strenght Wrapper Start -------------------------------------#}
            {% include "@Core/Default/strength.html.twig" %}
            {#-------------------------------- Portfolio Wrapper Start -------------------------------------#}
            {% include "@Core/Default/portfolio.html.twig" %}
        </div>
    {% endblock %}
    {# ---------------------------------------------------------------------------------------------------------------------------- #} 
