{% extends "base.html.twig" %}
    {% block body %}
        {# Menu + Contenu des pages  #}
        <div class="prt_main_wrapper">            
            {# La classe prt_home_wrapper ci-dessous contient le background image blanc dans le fichier style.css #}
            <header class="prt_home_wrapper">
                {# Choix de la langue #}
                <div id="languageBox">
                    {% if app.request.locale == 'fr' %}
                        <a href="http://localhost/projects/portfolio/web/app_dev.php/en/"><span class="flag-icon flag-icon-us"></span> ENG</a>
                    {% else %}
                        <a href="http://localhost/projects/portfolio/web/app_dev.php/fr/"><span class="flag-icon flag-icon-fr"></span> FR</a>
                    {% endif %}
                </div>
                
                {#---------------------------- Spining Logo --------------------------------------------#}
                <div class="prt_logo_wrapper">
                    <a><img src="{{ asset('assets/images/logo.png')}}" alt="Logo" id="prt_close_tab"></a>
                </div>
                
                {#---------------------------- Menu ---------------------------------------------------#}
                <div class="prt_menu_wrapper">
                    <nav>
                        <a href="#about" class="prt_top">
                            {{ 'nav.about'|trans({}, 'messages') }}
                        </a>
                        <a href="#contact" class="prt_right" id="contactLink">
                            {{ 'nav.contact'|trans({}, 'messages') }}
                        </a>
                        <a href="#services" class="prt_bottom">
                            {{ 'nav.strength'|trans({}, 'messages') }}
                        </a>
                        <a href="#portfolio" class="prt_left">
                            {{ 'nav.portfolio'|trans({}, 'messages') }}
                        </a>
                    </nav>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-7 col-sm-10 col-xs-12 col-lg-offset-6 col-md-offset-5 col-sm-offset-2 col-xs-offset-0">
                            <h1>I`m Sadio</h1>
                        </div>
                    </div>
                </div>
            </header>
            {#-------------------------------- About Wrapper Start ----------------------------------------#}
            {% include "@Core/Default/about.html.twig" %}
            {#-------------------------------- Contact Wrapper Start --------------------------------------#}
            {% include "@Core/Default/contact.html.twig" %}
            {#-------------------------------- Strenght Wrapper Start -------------------------------------#}
            {% include "@Core/Default/strength.html.twig" %}
            {#-------------------------------- Portfolio Wrapper Start -------------------------------------#}
            {% include "@Core/Default/portfolio.html.twig" %}
        </div>
    {% endblock %}
